.todo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 10px;
    font-family: "Gochi Hand";
}

.top-section {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.datetime {
    width: 30%;
    height: 100%;
    background-color: #FEF6F0;
    border: 4px solid #CAC7B1;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#day {
    font-size: 20px;
    font-weight: 600;
}
#number {
    font-size: 32px;
    color: #FEF6F0;
    background-color: #6E763F;
    padding: 8px 12px;
    border-radius: 50px;
}
#month {
    font-size: 16px;
}

.right-section {
    width: 66%;
    height: 100%;
    display: flex;
    flex-direction: column;  
}

.progression {
    height: 60%;
    background-color: #FEF6F0;
    border: 4px solid #CAC7B1;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.progression h3 {
    font-size: 20px;
    margin-top: 8px;
    font-weight: 600;
}
#progress-bar {
    appearance: none;
    height: 16px;
    width: 70%;
    border-radius: 10px;
}
#progress-bar::-webkit-progress-bar {
    background-color: #CAC7B1;
    border-radius: 10px;
}
#progress-bar::-webkit-progress-value {
    background-color: #6E763F;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.add-task {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    justify-content: space-between;
}
.add-task input {
    outline: none;
    border: none;
    padding: 14px;
    border-radius: 50px;
    width: 100%;
}
.add-task button {
    font-size: 24px;
    color: #FEF6F0;
    background-color: #6E763F;
    padding: 10px 16px;
    outline: none;
    border: none;
    border-radius: 16px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.add-task button:hover {
    transform: scale(1.05);
}

.bottom-section {
    display: flex;
    flex-direction: column;
    width: 97%;
    height: 50%;
    max-height: 50%;
    overflow-y: auto;
    background-color: #FEF6F0;
    border: 4px solid #CAC7B1;
    border-radius: 25px;
    margin-bottom: 24px;
    padding: 16px;
    gap: 14px;
    font-size: 20px;
}
.bottom-section h3 {
    margin: 0%;
}
.bottom-section p {
    text-align: left;
}
.bottom-section .bx {
    color: #151E08;
    margin-right: 16px;
}
.bottom-section p span {
    position: relative;
    color: #151E08;
    cursor: pointer;
    display: inline-block;
}

.bottom-section p span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0%;
    height: 2px;
    background-color: #151E08;
    transition: width 0.35s ease;
}

.bottom-section p span.done::after {
    width: 100%;
}

#finish-btn {
    font-size: 24px;
    color: #FEF6F0;
    background-color: #6E763F;
    border: 4px solid #6E763F;
    border-radius: 10px;
    padding: 8px 24px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
#finish-btn:hover {
    transform: scale(1.05);
}

.popup {
    width: 400px;
    background-color: #FEF6F0;
    border: 4px solid #CAC7B1;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px 30px;
    transition: opacity 0.2s ease-in-out;
}

.open-popup{
    opacity: 100%;
}

.popup button {
    font-size: 16px;
    color: #FEF6F0;
    background-color: #6E763F;
    border: 4px solid #6E763F;
    border-radius: 10px;
    padding: 8px 24px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.popup button:hover {
    transform: scale(1.05);
}

